<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Coinify_Payment::webhook_logs" title="Coinify Webhook Logs" module="Coinify_Payment" sortOrder="90" parent="Magento_Sales::sales" action="coinify/webhook/index" resource="Coinify_Payment::webhook_logs" />
    </menu>
</config>
